.title{
  text-align: left;
  padding: 20px;
}

.link{
  padding: 35px;
  display: flex;
  flex-direction: row;
  gap:30px;
  margin-left: 300px;
}

.button{
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  color: rgba(0,0,0,.87);
  background-color: transparent;
  font-weight: 700;

}

button.button:hover{
  background-color: rgb(236, 225, 225);
}

button.button{
  
}

svg{
 
 
}

.bell{
  background-color: white;
  margin-left:100%;
  border-radius: 5px;
  border-color: grey;
  margin-top: 2%;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.select{
  margin-top: 1%;
}

select.form-select{
  
  border: none;
  
}

.photo{
  margin-top:0.1%;
  margin-left: 2%;
}

.d{
  display:flex;
  flex-direction: row;
  background-color: white;
}

a{
  color: black;
}

.main{
  padding-top: 5%;
  }

.slider{
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: whitesmoke;
}

.card{
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 10px solid transparent;
  border-radius: 15px;
  color:orange;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cards{
  display: flex;
  flex-direction: row;
  margin-top: 0.5%;
  margin-left: 5%;
  gap: 1em;
}

div.cards{
  padding-right: 4%;
}

a.card-link{
  color:blue;
}

.Bottom {
  display: flex;

  background-color: #343a40;
  color: white;
  padding-top: 1%;
  padding-left: 1%;
}

.social-container {
  padding: 15px 40px;
  display: flex;
  justify-content: left;
}
a.youtube{
  color: antiquewhite;
}
a.facebook{
  color:antiquewhite;
}
a.twitter{
  color:antiquewhite;
}
a.instagram{
  color:antiquewhite;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
.social{
  text-align: center;
  margin-left: 30%;
}

.image{
  margin-left: 27%;
  margin-top: 1%;
}

.line{
color: antiquewhite;
}

.footer{
  align-items: center;
  justify-content: center;
  margin-left: 43%;
}

.skill{
  width : 10%;
}

.carousel-inner .carousel-item {
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  position: absolute;
}
.carousel-inner .carousel-item:first-of-type {
  position: relative;
}
.carousel-inner .active {
  opacity: 1;
}
.carousel-control-next-icon{
  background-color:orange;
  margin-left: 80%;
}
.carousel-control-prev-icon{
  background-color: orange;
}

.carousel-indicators li {
  background-color: #669966;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.carousel-indicators .active {
  background-color: #FF7600;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

